<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-font text-uppercase" href="#">stretch<span class="brand-W">W</span>allet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/startjob1"><span class="glyphicon glyphicon-eye-open"></span> View Wallet</a></li>
        <li><a href="/jobs_page"><span class="glyphicon glyphicon-question-sign"></span> How it Works</a></li>
        <li><a href="/editprofile"><span class="glyphicon glyphicon-list"></span> FAQ</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Helpful Links</a></li>
      </ul>
    </div>
  </div>
</nav>
