{% raw %}
<!DOCTYPE html>
<html ng-app="appApp" lang="en">
  <head>
    <title>stretchWallet - View Wallet</title><meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="shortcut icon" href="/static/dist/favicon.ico">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" media="screen" href="/static/dist/css/custom.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"></script>
		<!--<script src="/static/dist/js/app/app.js"></script>-->
		
		<!-- factories -->
		<script src="/static/dist/js/app/factories/user.js"></script>
		
		<!-- controllers -->
		<script src="/static/dist/js/app/controllers/viewWallet.js"></script>
		<script src="/static/dist/js/app/controllers/formController.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Economica:700,700i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
	</head>
	<body>
		<header id="header"></header>
		<script type="text/javascript">
			$('#header').load('header');
	  	</script>
		<div id="wrapper" ng-controller="viewWallet as walletViewer">
			<div id="main">
				<div class="formBG container">
					<div class="row">
						<div class="col-sm-12 col-md-9 col-md-push-2 text-center">
	            			<form ng-submit="showWallet(user)">
	            				<h1>Enter your Public Key<small> for the Stellar Network Account</small></h1>
								<div class="form-group">
					             	<label for="publickey"></label>
					                <input class="input-lg" type="text" placeholder="ex: GCQUV7WA4SP3LNTRDOBSURENX6WA5JU7Q5B54Y5I2G4IRTGG2IZ6M72M" ng-model="user.publickey" size=80 required>
					            </div>
					            <div class="form-group text-right gray text400">Stellar Network public keys begin with "G"</div>
					            <div ng-show="error.length" class="errorMessage form-group">
					            	This is an invalid public key. Please retry.
					            </div>
					            <button type="submit" id="btn-view-wallet" class="btn btn-primary btn-lg btn-block text-uppercase"><span class="glyphicon glyphicon-eye-open"></span> View Your Wallet</button>
					        </form>
	        			</div>
	        		</div>
	        		<div class="row" ng-show="userData.data.transaction.transactionInProgress==true || userData.data.transaction.transactionFailed==true">
						<div class="col-sm-12 col-md-9 col-md-push-2 text-center top-padding35">
							<p class="alert alert-danger fontsize16">
								<span ng-show="userData.data.transaction.transactionInProgress==true">The Stellar Network takes a few seconds to process transactions.<br><br><span style="text-bold">The page will automatically refresh when the transaction has completed.</span></span>
								<span ng-show="userData.data.transaction.transactionFailed==true">{{error}}</span>
								<span ng-show="userData.data.transaction.transactionFailed==true">ADD LINK HERE</span>
							</p>
						</div>
					</div>
	        		<div class="row top-padding35">
	        			<div ng-show="balances.length>0" id="walletSummary" class="col-sm-12 col-md-9 col-md-push-2 wallet">
	        				<h3>
	        					Asset Summary
	        				</h3>
	        			</div>
	        		</div>
	        	    <div class="row">
						<div ng-show="balances.length>0" id="wallet" class="col-sm-12 col-md-9 col-md-push-2 wallet">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="text-uppercase shaded" colspan="2">
											Available
										</th>
										<th class="text-uppercase" colspan="2">
											Stored
										</th>
								    </tr>
									<tr>
										<th class="h5 shaded">
											Token
										</th>
										<th class="h5 shaded">
											Balance
										</th>
										<th class="h5">
											Total Amount in Vault
										</th>
										<th class="h5" ng-show="vaultsExist">
											Vault Details
										</th>
								    </tr>
									<tr ng-repeat-start="assets in balances">
										<td class="shaded">
											{{assets.asset_code}}
										</td>
										<td class="shaded">
											{{assets.balance}}
										</td>
										<td>
											<span ng-show="assets.vaults.length==0">0</span>
											<span ng-show="assets.vaults.length>0">{{getTotal()}} {{assets.asset_code}}</span>
										</td>
										<td ng-show="assets.vaults.length>0">
											<button ng-show="assets.vaults.length>0" ng-click="toggle()" type="button" class="btn btn-sm btn-link">
											  <span class="">See Details</span>
											</button>
											<table ng-hide="IsHidden" class="table table-striped">
												<tbody>
													<tr>
														<th>
															Vault Asset (Symbol) Balance
														</th>
														<th>
															Exchange Rate
														</th>
														<th>
															Stored Balance (Total)
														</th>
													</tr>
													<tr ng-repeat="vaults in assets.vaults track by $index">
														<td>{{vaults.asset_name}} ({{vaults.asset_code}}) {{vaults.availBalance / vaults.price}}</td>
														<td>{{vaults.price}}</td>
														<td>{{vaults.availBalance}} {{assets.asset_code}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr ng-repeat-end>
										<td colspan="2" class="shaded">
											<!-- Button trigger modal -->
											<button ng-click="" type="button" class="btn btn-sm btn-default fontBlue">
											  <span class="glyphicon glyphicon-send"></span> <span class="text-uppercase"> Transfer {{assets.asset_code}}</span>
											</button>
										</td>
										<td colspan ="2">
											<!-- Button trigger modal -->
											<button ng-click="openModal(assets)" type="button" class="btn btn-sm btn-default fontBlue">
											  <span class="glyphicon glyphicon-folder-open"></span> <span class="text-uppercase"> <span ng-show="assets.vaults.length==0">Build</span><span ng-show="assets.vaults.length>0">Manage</span> {{assets.asset_code}} Vault</span>
											</button>
										</td>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
		<footer id="footer"></footer>
		<script type="text/javascript">
			$('#footer').load('footer');
		</script>
			</div>
		</div>
		<div class="modal fade" id="buildVault" tabindex="-1" role="dialog" aria-labelledby="buildVaultLabel" aria-hidden="true"></div>
		<!--<div id="payment_modal"></div>-->
	</body>
</html>
{% endraw %}
